<div class="list-table">
 <table>
    <thead>
        <th>Student Name</th>
        <th>Student Id</th>
        <th>Student Class</th>
        <th>Student Address</th>
        <th>Action</th>
    </thead>
    <tbody *ngFor="let student of students">
        <td>{{student.name}}</td>
        <td>{{student.id}}</td>
        <td>{{student.s_class}}</td>
        <td>{{student.address}}</td>
        <td><button (click)="removeRow(student.arrayid)">remove</button></td>
    </tbody>
    
</table>
</div>

