body {
    background-color: beige;
}

h1 {
    color: rgb(20, 9, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.box {
    border: 2px solid black;
    padding: 10%;
    margin: 10px;
}

 img {
    width: 50%;
    height: 40%;
    float: left;
    margin-right: 10px;
 }
 

 p {
    
    font-size: 25px;
    
}

a:link, a:visited {
  color: white;
  padding: 10px 20px;
  background: rgb(60, 0, 255);
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  color: rgb(0, 255, 30);
}

a {
 margin-left: 45%;
 margin-top: 4%;
}