
.navBox {
    background: #060F42;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    cursor: pointer;
}

.nav-box-items {
    padding: 2rem;
}

app-login-box {
    position: absolute;
    z-index: 1;
    top: 14%;
    left:87%;
}