body {
  background-color: #eeeeee;
}
:root {
  /* Font-sizes*/

  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;

  /* colors */

  --grey-1: #767676;
  --black-1: #333;
  --color-1: #15094e;
  --color-2: #a7a7a7;
  --color-3: white;

  /* standard width and height for input boxes*/

  --width: 12.68rem;
  --height: 1.5rem;

  /* Background-colors*/

  --background-1: #fcfcfc;
  --background-2: #91bc76;
  --background-3: #ee9732;

  /* Border Radius*/

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.35rem;

  /*Borders*/
  --border-1: 1px solid #a7a7a7;
  --border-2: 1px solid #333;
  --border-3: 1px dashed blue;

  /* font-family*/
  --font-family-1: "Raleway";

  /* font-Weights*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /*font-styles*/
  --font-style-n: normal;
  --font-style-i: italic;
  --font-style-o: oblique;

  /* Line heights */
  --line-height-1: 1.125rem;

  /*padding*/
  --padding-1: 0.5rem;
  --padding-2: 0.75rem;
}

/*Date-input box styling*/

.date-input {
  width: var(--width);
  height: var(--height);
  padding: 0.6875rem 0.625rem;
  flex-shrink: 0;
  background-color: var(--background-1);
  border-radius: var(--border-radius-1);
  border: var(--border-1);
  font-size: var(--font-size-15);
  font-family: var(--font-family-1);
  font-style: var(--font-style-n);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-1);
  color: var(--black-1);
  text-transform: uppercase;
}

/*Date-input box  label styling*/

.label {
  color: var(--grey-1);
  font-size: var(--font-size-14);
  font-family: var(--font-family-1);
  margin-bottom: 0.625rem;
}

/*Date-input box  label styling (disabled)*/

.date-innput-disabled {
  color: var(--grey-1);
}

/*Number-input box styling*/

.number_input {
  width: 7.5rem;
  height: 1.5rem;
  color: var(--black-1);
  font-weight: var(--font-weight-700);
  font-size: 1.125rem;
  text-align: center;
  font-family: var(--font-family-1);
  font-style: var(--font-style-n);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-1);
  border-radius: var(--border-radius-1);
  border: var(--border-1);
  padding: var(--padding-1);
}

.number_input:hover {
  border: var(--border-2);
}

/*Radio button styling*/
.input[type="radio"] {
  accent-color: var(--color-1);
}

.radio_button_label {
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-13);
  font-size: var(--font-style-n);
}

/*Radio button styling (disabled)*/
.radio_button_label_disabled {
  color: var(--grey-1);
}

/*Dotted border styling*/
.dotted_border {
  border: var(--border-3);
  height: auto;
  width: 14.68rem;
  padding: 1.5rem;
}

/* toogle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 3.95rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--color-3);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 1rem;
}

.toogle_button_label {
  color: var(--grey-1);
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-15);
  font-style: var(--font-style-n);
  padding: var(--padding-2);
}

.display_toogle {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* Buy and Sell Toogle Styling*/
.slider_1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-2);
  transition: 0.4s;
}

.slider_1:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--color-3);
  transition: 0.4s;
}

input:checked + .slider_1 {
  background-color: var(--background-3);
}

input:checked + .slider_1:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.slider_1.round {
  border-radius: 2.125rem;
}

.slider_1.round:before {
  border-radius: 1rem;
}

/*Checkbox Styling*/
.input[type="checkbox"] {
  accent-color: var(--color-1);
}
input:hover {
  color: var(--color-1);
}
.checklabel {
  color: var(--grey-1);
}
