
header {
  background-color: #149774;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  padding-bottom: 30px;
}

div {
  background-color: green;
}

div.first {
  opacity: 0.1;
}

div.second {
  opacity: 0.3;
}

div.third {
  opacity: 0.6; }