body {
  background-color: #eeeeee;
}
:root {
  /* Font-sizes*/

  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-1: 1.125rem;

  /* colors */

  --grey-1: #767676;
  --black-1: #333;
  --color-1: #15094e;
  --color-2: #a7a7a7;
  --color-3: white;

  /* standard width and height for input boxes*/

  --width: 12.68rem;
  --width-1: 7.2rem;
  --width-2: 14.68rem;
  --width-3: 3rem;
  --width-4: 1.25rem;
  --height: 1.5rem;
  --height-1: 1.5rem;
  --height-3: 1.5rem;
  --height-4: 1.25rem;

  /* Background-colors*/

  --background-1: #fcfcfc;
  --background-2: #91bc76;
  --background-3: #ee9732;

  /* Border Radius*/

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.35rem;
  --border-radius-3: 1rem;
  --border-radius-4: 2.125rem;

  /*Borders*/
  --border-1: 1px solid #a7a7a7;
  --border-2: 1px solid #333;
  --border-3: 1px dashed blue;

  /* font-family*/
  --font-family-1: "Raleway";

  /* font-Weights*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /*font-styles*/
  --font-style-n: normal;
  --font-style-i: italic;
  --font-style-o: oblique;

  /* Line heights */
  --line-height-1: 1.125rem;

  /*padding*/
  --padding-1: 0.5rem;
  --padding-2: 0.75rem;
  --padding-3: 1.5rem;
  --padding-4: 0.93rem;

  /*Margins*/
  --margin-1: 0.31rem;
  --margin-2: 0.25rem;
}

/*Date-input box styling*/

.date-input {
  width: var(--width);
  height: var(--height);
  padding: 0.6875rem 0.625rem;
  flex-shrink: 0;
  background-color: var(--background-1);
  border-radius: var(--border-radius-1);
  border: var(--border-1);
  font-size: var(--font-size-15);
  font-family: var(--font-family-1);
  font-style: var(--font-style-n);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-1);
  color: var(--grey-1);
  text-transform: uppercase;
}

/*Date-input box  label styling*/

.label {
  color: var(--grey-1);
  font-size: var(--font-size-14);
  font-family: var(--font-family-1);
  margin-bottom: 0.625rem;
}

/*Date-input box  label styling (disabled)*/

.date-innput-disabled {
  color: var(--grey-1);
  pointer-events: none;
}

/*Number-input box styling*/

.number_input {
  width: var(--width-1);
  height: var(--height);
  color: var(--black-1);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-1);
  text-align: center;
  font-family: var(--font-family-1);
  font-style: var(--font-style-n);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-1);
  border-radius: var(--border-radius-1);
  border: var(--border-1);
  padding: var(--padding-1);
}

.number_input:hover {
  border: var(--border-2);
}

/*Radio button styling*/
.input[type="radio"] {
  accent-color: var(--color-1);
}

.radio_button_label {
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-13);
  font-size: var(--font-style-n);
}

/*Radio button styling (disabled)*/
.radio_button_label_disabled {
  color: var(--grey-1);
}

/*Dotted border styling*/
.dotted_border {
  border: var(--border-3);
  height: auto;
  width: var(--width-2);
  padding: var(--padding-3);
}

/* toogle switch */
.switch {
  position: relative;
  display: inline-block;
  width: var(--width-3);
  height: var(--height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--height-4);
  width: var(--width-4);
  left: 0.19rem;
  bottom: 0.13rem;
  background-color: var(--color-3);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-1);
}

input:checked + .slider:before {

  -ms-transform: translateX(1.37rem);
  transform: translateX(1.37rem);
}

.slider.round {
  border-radius: var(--border-radius-4);
}

.slider.round:before {
  border-radius: var(--border-radius-3);
}

.toogle_button_label {
  color: var(--grey-1);
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-15);
  font-style: var(--font-style-n);
}
.toogle_button_label_padding_left {
  padding-right: var(--padding-4);
  margin-top: var(--margin-1);
  margin-bottom: var(--margin-2);
}
.toogle_button_label_padding_right {
  padding-left: var(--padding-4);
  margin-top: var(--margin-1);
  margin-bottom: var(--margin-2);
}

.display_toogle {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* Buy and Sell Toogle Styling*/
.slider_1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-2);
  transition: 0.4s;
}

.slider_1:before {
  position: absolute;
  content: "";
  height: var(--height-4);
  width: var(--width-4);
  left: 0.19rem;
  bottom: 0.14rem;
  background-color: var(--color-3);
  transition: 0.4s;
}

input:checked + .slider_1 {
  background-color: var(--background-3);
}

input:checked + .slider_1:before {
  -webkit-transform: translateX(1.37rem);
  -ms-transform: translateX(1.37rem);
  transform: translateX(1.37rem);
}

.slider_1.round {
  border-radius: var(--border-radius-4);
}

.slider_1.round:before {
  border-radius: var(--border-radius-3);
}

/*Checkbox Styling*/
.input[type="checkbox"] {
  accent-color: var(--color-1);
}
input:hover {
  color: var(--color-1);
}
.checklabel {
  color: var(--grey-1);
}
