.card {
    display: flex;
    width: 12.5rem;
    
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0.625rem;
    background-color: #bee8f5;
}

.select {
    width: 11.25rem;
    height: 2.5rem;
    background-color: rgb(255, 254, 254);
    border: none;
    border-radius: 0.25rem;
    color: #5a5a5a;
}


.select option:first-child{
    display: none;
}

.select:hover{
    color: black;
    
    
}





